/* FILE: mediaViewer.css */

#media-viewer {
  flex: 1;
  padding: 1rem;
  background: #fff;
  height: 600px;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#media-viewer video,
#media-viewer audio {
  flex-shrink: 1;
  flex-grow: 1;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0;        
  padding: 0;        
  box-sizing: border-box;
}
#media-viewer audio,
#media-viewer video {
  width: 100%;
  margin-top: 1rem;
  max-height: 100%;
}