/* FILE: viewerPlayer.css */
#viewer-player {
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 600px;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#viewer-player video,
#viewer-player audio {
  flex-shrink: 1;
  flex-grow: 1;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 0;        
  padding: 0;        
  box-sizing: border-box;
}
